.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #5ea39f; /* Fondo verde similar al de la imagen */
}

.login-container {
  background-color: rgba(255, 255, 255, 0.5); /* Fondo blanco semitransparente */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
}


.shapes-animation {
  width: 100%;
  height: 180px; /* Ajusta la altura según lo que necesites */
  margin-bottom: 20px;
}

/* Ajustes para el título */
h2 {
  font-family: 'Georgia', serif; /* Fuente similar a la de la imagen */
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: bold;
  color: #476759;
}

/* Ajustes para el formulario */
.ant-form-item-label > label {
  font-weight: bold;
  color: #476759; /* Color basado en la imagen */
  display: block;
  text-align: center; /* Centrar los títulos de los inputs */
}

/* Ajustes para el campo de texto */
.ant-input-affix-wrapper {
  border-radius: 5px;
  height: 40px;
}

.canvas-3d {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.login-title {
  font-size: 24px;
  margin-bottom: 20px;
  color: #354a4d;
}

.login-form {
  text-align: left;
}

.login-input {
  padding: 10px;
  border-radius: 5px;
}

.login-button {
  width: 100%;
  background-color: #354a4d;
  border: none;
  padding: 10px;
  color: white;
  border-radius: 5px;
}

.social-login {
  margin-top: 20px;
  display: flex;
  justify-content: center; /* Centrar el botón */
  height: 70px;
}
 
.social-button {
  margin: 10px;
  width: 80px; 
  height: 30px; 
  font-size: 24px; 
  border-radius: 8px; 
  display: flex;
  justify-content: center;
  align-items: center; 
  padding: 0; 
}

.google-button {
  background-color: #ea4335;
  color: white;
}

.fb-button {
  background-color: #3b5998;
  color: white;
}

/* Ajustes generales */
input {
  font-family: 'Arial', sans-serif;
  font-size: 14px;
}

.ant-input {
  text-align: center; /* Centrar el texto en los campos de entrada */
}