/* src/pages/home/nosotros/Nosotros.css */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:wght@400;700&display=swap');

.nosotros-container {
    position: absolute; /* Asegúrate de que ocupe el espacio completo */
    top: 0; /* Alinea al top */
    left: 0; /* Alinea a la izquierda */
    width: 100%; /* Ocupa todo el ancho */
    height: 100%; /* Ocupa toda la altura */
    padding: 20px;
    background-image: url('../../../assets/images/fondo.jpeg'); /* Asegúrate de que la ruta sea correcta */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}



.nosotros-title {
    font-family: 'Anton', sans-serif;
    font-size: 40px;
    color: #fff; /* Cambia el color del texto si la imagen es oscura */
    text-align: center;
    margin-bottom: 20px;
    color: #406D66; 
    text-shadow: 2px 2px 4px rgba(252, 252, 252, 0.7); /* Sombra para mayor legibilidad */
    letter-spacing: 2px
}

/* src/pages/home/nosotros/Nosotros.css */

.nosotros-section {
    font-family: 'Wix Madefor Text', sans-serif;
    color: #000000; 
    font-size: 40px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semitransparente para las secciones */
    padding: 5px; /* Espacio interno */
    border-radius: 5px; /* Esquinas redondeadas */
    width: 80%; /* Cambia esto a un porcentaje menor si deseas que sea más estrecho */
    max-width: 600px; /* Puedes establecer un ancho máximo si lo prefieres */
    margin-left: auto; /* Centra horizontalmente */
    margin-right: auto; /* Centra horizontalmente */
    text-align: center; /* Centra el texto horizontalmente */
    font-weight: bold; /* Hace que el texto sea negrita */
}


.nosotros-section h2 {
    font-family: 'Anton', sans-serif;
    font-size: 1.5rem;
    color: #406D66;
    margin-bottom: 10px;
    letter-spacing: 2px
}

.nosotros-section p {
    font-size: 1rem;
    line-height: 1.6;
    color: #555;
}
