/* src/pages/home/nosotros/Nosotros.css */

.nosotros-container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    height: 100vh; /* Asegúrate de que el contenedor tenga altura */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid red; /* Añade un borde temporal */
}


.nosotros-title {
    font-size: 2rem;
    color: #fff; /* Cambia el color del texto si la imagen es oscura */
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Sombra para mayor legibilidad */
}

.nosotros-section {
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semitransparente para las secciones */
    padding: 10px; /* Espacio interno */
    border-radius: 5px; /* Esquinas redondeadas */
}

.nosotros-section h2 {
    font-size: 1.5rem;
    color: #5BC7B6; /* Usa el mismo color de tus botones para mantener la coherencia */
    margin-bottom: 10px;
}

.nosotros-section p {
    font-size: 1rem;
    line-height: 1.6;
    color: #555;
}
